.classpath
.project
.settings/
.DS_Store
.idea/
*.iml
target/
_mac/
inspection/
diff.xml
web-browsers.xml
IntelliLang.xml
debugger.xml
mavenVersion.xml
non_code/
/.metadata/
batch_start.sh
common/src/main/resources/conf-env/
emr_launch.sh